[submodule "colors/solarized"]
	path = colors/solarized
	url = git://github.com/altercation/solarized.git
[submodule "colors/solarized-xcode"]
	path = colors/solarized-xcode
	url = git://github.com/urbanape/solarized-xcode.git
[submodule "vendor/ack"]
	path = vendor/ack
	url = git://github.com/petdance/ack.git
[submodule "vendor/play"]
	path = vendor/play
	url = git://github.com/lopopolo/play.git
[submodule "vendor/git-scripts"]
	path = vendor/git-scripts
	url = git://github.com/cespare/git-scripts.git
