/.Trash
/.ssh

# don't track .vim since I keep track of it in its own repo
# and don't want it to be a submodule
# Also don't keep track of vimrc and gvimrc because they are
# machine specific symlinks
/.vim
/.vimrc
/.gvimrc

# all of the default folders in a mac home directory
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/

# dropbox
/Dropbox/
/.dropbox/
