/.Trash
/.ssh

# history files, these are machine specific
.*_history
.*hst
.*hist

# The .gitconfig symlink. Configs are stored in ~/.git-configs
/.gitconfig

# standard bash configs. Source my special ones in
# whatever default is given on a machine
/.bash_profile
/.bashrc
/.bash_logout
/.profile

# don't track .vim since I keep track of it in its own repo
# and don't want it to be a submodule
/.vim/
/.viminfo

# don't track repos. This is where all other git repos live
/repos/

# all of the default folders in a mac home directory
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/

# and the .CFUserTextEncoding file that is autogened
.CFUserTextEncoding

# some other stuff that I assume is OS X related
/.cups
/.fontconfig

# X11 auth
/.Xauthority

# Ubuntu stuff
.sudo_as_admin_successful
motd.legal-displayed

# MIT VPN
/.anyconnect

# dropbox
/Dropbox/
/.dropbox/
/.dropbox-dist/

# eclipse and svn stuff
/.eclipse_keyring
/.subversion

# play stuff
/.play

# python package config
/.config

# system ruby gems
/.gem

