[submodule "scripts/z"]
	path = scripts/z
	url = git://github.com/rupa/z.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "scripts/ruby-build"]
	path = scripts/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = git://github.com/altercation/solarized.git
[submodule "colors/solarized-xcode"]
	path = colors/solarized-xcode
	url = git://github.com/urbanape/solarized-xcode.git
