/.Trash
/.ssh

# don't track .vim since I keep track of it in its own repo
# and don't want it to be a submodule
/.vim/

# don't track repos. This is where all other git repos live
/repos/

# all of the default folders in a mac home directory
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/Sites/

# dropbox
/Dropbox/
/.dropbox/
