**/*

!**/*/

.gocache/
.gopath/
.pnpm-store/
.venv/
dist/
node_modules/
target/
vim/plugged/
vim/undo/
venv/

!*.css
!*.html
!*.js
!*.json
!*.md
!*.mjs
!*.scss
!*.yaml
!*.yml

pnpm-lock.yaml
pnpm-workspace.yaml

**/vendor/*
!**/vendor/*.md
